<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Power Advanced</vendor>
  <vendor_url>https://github.com/Kurisu-Null/omarchy-power-advanced</vendor_url>

  <action id="org.omarchy.plugins.power-advanced.apply">
    <description>Apply Power Advanced settings</description>
    <message>Authentication is required to write power profile rules, lid and sleep behaviour, and the AC udev rule</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/omarchy-power-advanced/power-advanced-apply</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.omarchy.plugins.power-advanced.limit">
    <description>Set the Power Advanced battery charge limit</description>
    <message>Authentication is required to write the hardware battery charge limit</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/omarchy-power-advanced/power-advanced-limit</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
